*.dwl
*.o
*.a
*.d
*.mk
*.exe
*.elf
*.hex
*.log
~$*.*
*.lck
*.ar
*.eep
*.lss
*.map
*.srec
*.bak
*.kicad_pcb-bak
*.bck
*.dcm
*.tmp
*.atsuo
*.zcode
*.zproj
*.swap
*.swp
_autosave*.*
_saved*.sch
*.cmake

code/poco-1.7.6/
code/LegController/Release
code/cortex-workspace/
code/Cortex/Release/
code/Cortex/.settings/
code/workspace/

OldVersions/

schematics/libraries/

datasheets/ServoFrameWork/
datasheets/RPLidar A2/rplidar_sdk_v1\.5\.7/

code/Common/Default/
code/Kinematics/Default/
*.rej

code/ros/\.catkin_workspace
code/ros/build/
code/ros/devel/
code/ros/src/pentapod_engine/CMakeFiles/
code/ros/src/pentapod_engine/CTestTestfile/
code/ros/src/pentapod_engine/catkin_generated/
code/ros/src/pentapod_engine/cmake_install/
code/ros/src/pentapod_engine/cmake/
code/ros/src/pentapod_library/CMakeFiles/
code/ros/src/pentapod_library/catkin_generated/
code/ros/src/pentapod_server/CMakeFiles/
code/ros/src/pentapod_server/catkin_generated/
code/ros/src/catkin_generated/
code/ros/src/CMakeFiles/
code/ros/src/catkin/catkin_generated/version/
code/ros/src/devel/
code/ros/src/gtest/



docs/Pentapod Documentation-Dateien/
*.lvix
